Node-red_flow.js
[{"id":"db9a6ec1.f88da","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ca8607.d5924a","type":"ibmiot in","z":"db9a6ec1.f88da","authentication":"apiKey","apiKey":"72d6675.dbcb898","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IoT_947","applicationId":"","deviceType":"IoT_Device_947","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":200,"wires":[["462fae19.2012b","2da7ad57.1c6602","aae834af.c621a8"]]},{"id":"79736497.5dde5c","type":"debug","z":"db9a6ec1.f88da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"462fae19.2012b","type":"function","z":"db9a6ec1.f88da","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["79736497.5dde5c","f5df2e78.d6a81"]]},{"id":"2da7ad57.1c6602","type":"function","z":"db9a6ec1.f88da","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["79736497.5dde5c","fa7b4f43.e355f"]]},{"id":"aae834af.c621a8","type":"function","z":"db9a6ec1.f88da","name":"ObjectTemp","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["79736497.5dde5c","dd6d72db.f0b12"]]},{"id":"f5df2e78.d6a81","type":"ui_gauge","z":"db9a6ec1.f88da","name":"","group":"31197dab.dfb612","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":100,"wires":[]},{"id":"fa7b4f43.e355f","type":"ui_gauge","z":"db9a6ec1.f88da","name":"","group":"b174da8c.3b8208","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":280,"wires":[]},{"id":"dd6d72db.f0b12","type":"ui_gauge","z":"db9a6ec1.f88da","name":"","group":"37f3b95b.2aa396","order":2,"width":0,"height":0,"gtype":"gage","title":"ObjectTemp","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":360,"wires":[]},{"id":"ded1fdf5.c6529","type":"inject","z":"db9a6ec1.f88da","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":40,"wires":[["18851453.841cfc"]]},{"id":"18851453.841cfc","type":"http request","z":"db9a6ec1.f88da","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=f6c2ba897b0ba03bc6ae9de41e852ba1","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":60,"wires":[["79736497.5dde5c","6ab35ee5.29086"]]},{"id":"6ab35ee5.29086","type":"function","z":"db9a6ec1.f88da","name":"Wind Speed","func":"msg.payload=msg.payload.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":20,"wires":[["562b656a.7655fc"]]},{"id":"562b656a.7655fc","type":"ui_gauge","z":"db9a6ec1.f88da","name":"","group":"3d9ab0c3.c8e17","order":1,"width":0,"height":0,"gtype":"donut","title":"Wind Speed","label":"Km/hr","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":60,"wires":[]},{"id":"6bef0276.f7c86c","type":"ibmiot out","z":"db9a6ec1.f88da","authentication":"apiKey","apiKey":"72d6675.dbcb898","outputType":"cmd","deviceId":"IoT_947","deviceType":"IoT_Device_947","eventCommandType":"data","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":480,"wires":[]},{"id":"63f99efc.8d74","type":"ui_button","z":"db9a6ec1.f88da","name":"","group":"a46854f6.8bcdf8","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor_on\"}","payloadType":"json","topic":"","x":320,"y":420,"wires":[["6bef0276.f7c86c"]]},{"id":"c65df7d8.947db8","type":"ui_button","z":"db9a6ec1.f88da","name":"","group":"a46854f6.8bcdf8","order":2,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor_off\"}","payloadType":"json","topic":"","x":310,"y":520,"wires":[["6bef0276.f7c86c"]]},{"id":"72d6675.dbcb898","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"31197dab.dfb612","type":"ui_group","z":"","name":"Smart Agriculture Temperature","tab":"4537f40b.21838c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b174da8c.3b8208","type":"ui_group","z":"","name":"Smart Agriculture Humidity","tab":"4537f40b.21838c","order":2,"disp":true,"width":"6","collapse":false},{"id":"37f3b95b.2aa396","type":"ui_group","z":"","name":"Smart Agriculture ObjectTemp","tab":"4537f40b.21838c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3d9ab0c3.c8e17","type":"ui_group","z":"","name":"Wind Speed","tab":"eadb2ad3.08bea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a46854f6.8bcdf8","type":"ui_group","z":"","name":"Motor","tab":"5d725b9b.9104c4","order":4,"disp":true,"width":"6","collapse":false},{"id":"4537f40b.21838c","type":"ui_tab","z":"","name":"Sensor Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"eadb2ad3.08bea8","type":"ui_tab","z":"","name":"Open Weather API Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"5d725b9b.9104c4","type":"ui_tab","z":"","name":"Sending Commands","icon":"dashboard","disabled":false,"hidden":false}]
